.container{
    background: linear-gradient(to right, rgb(231, 154, 154), rgb(167, 25, 25));
    height: 600px;
}

.button{
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    background: linear-gradient(to left, rgb(231, 154, 154), rgb(167, 25, 25));
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.button:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    background: linear-gradient(to right, rgb(218, 233, 132),  rgb(252, 252, 55));
}

.imagen {
    width: 230px;
    background-position: bottom left;
}